main p{
    text-indent: 0; 
    margin-top: 0;
}

table{
    width: 100%;
}

.box-solution p{
    text-indent: 5vmin;
    margin-top: 5%;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.list-alpha li{
    margin-top: 2%;
}


.problems-grid{
    table-layout: fixed;
    width: 125%;
}

.grid-problem-cell{ 
    padding: 20px;
    border: none;
    text-align: left;
    padding-left: 0px;
}

.problem-number{
    flex: 0.1;
    width: 10%;
    margin-right: 20px;
    color: plum;
}

.grid-problem-cell div{
    flex: 0.5;
    display: flex;
}

.grid-problem-cell span{
    position: absolute;
}

.exercise-grid-img{
    float: none;
    height: 70%;
    width: 70%;
}

/* main figure, main img{
    width: 500px;
    float: right
} */

main figure{
    height: auto;
}

main img{
    position: relative;
}

main figure::before{
    display: block;
    background: rgb(110, 80, 80);
    font-size: 90%;
    color: white;
    text-align: center;
    margin-bottom: 0;
}

main figure::after{
    font-size: 15px;
    color: gray;
    font-style: oblique;
}


.problem-special-body{
    margin-left: 60px;
    position: absolute;
    z-index: 1;
}

/* "problem-display" is for display; .problem-list-display is for the "LIST" environment*/

.problem-display, .problem-list-display{ 
    display: flex;
}

.problem-list-display{
    margin-top: 0.8%;
    margin-bottom: 0.8%;
}

.problem-display{
    margin-top: 3%;
    margin-bottom: 3%;
}

/* .problem-display a{
    margin-right: 20px;
} */

.problem-display-body{
    width: 100%;
}

.exercises-hint{
    color: plum;
    font-family: Geneva, Tahoma, sans-serif;
}

.calculator-msg{ /* informing that calculator needed */
    color:rgb(170, 57, 72);
}

.problems-note{ /* prompt; ex. "Problems 2–4 refer to the following:" */
    color: gray;
    font-style: italic;
    font-family: Geneva, Tahoma, sans-serif;
}

.problem-row{
    display: flex;
    width: 100%;
    margin-top: 2%; 
    margin-bottom: 2%;
}

/* .problem-number-inline{
    flex: 0.1;
    width: 10%;
    margin-right: 5%;
    color: plum;
}

.problem-number{
    flex: 0.1;
    width: 10%;
    margin-right: 1.2%;
    color: plum;
} */

.problem-text{
    flex: 5;
    width: 30%;
}

.problem-body{
    flex: 0.5;
    display: flex;
}

.problem-number-inline{ /* indent for inline exercise #s */
    float: left;
    color: plum;
    margin-right: 5%;
}

.problems-block .problem-body{
    margin-top: 3%;
}

.mcq-option{ /* answer choice tfor  mcq exercise */
    margin-left: 5%;
    font-size: 25px;
}

.problems-left-column{ /* left column for exercises */
    float:left; 
    width: 50%; 
    padding-right: 2%; 
    position: relative; 
    z-index: 1;
}

.problems-right-column{ /* right column for exercises */
    float:right; 
    width: 50%; 
    padding-left: 2%; 
    position: relative; 
    z-index: 1;
}

.box-solution{ /* box around the problem for solution pages */
    border: 10px solid rgb(167, 123, 42);
    padding: 5% 2% 5% 2%;
}

.box-solution hr{
    margin-top: 5%;
    margin-bottom: 5%;
}

.box-problem-display{ /* the blockquote for "LIST" environment */
    margin-left: 3%;
}

.box-solution__head{
    background-color: rgb(167, 123, 42);
    font-style: normal;
    line-height: 1.5;
    padding: 1vh;
    font-size: 140%;
    text-align: center;
    padding-bottom: 0;
    margin-top: 4%;
    font-family: Geneva, Tahoma, sans-serif;
}

.box-solution__problem{
    /* font-style: oblique; */
}

.box-solution p:first-child{
    text-indent: 0vmin;
    margin-top: 0;
    margin-bottom: 0;
    display:inline;
}

.box-solution__solution figure{
    position: static;
    margin-left: auto;
    margin-left: 3%;
    margin-bottom: 3%;
}

.box-solution__body{
    margin-left: 2%;
    margin-right: 2%;
}

.box-solution__image-panel{
    position: relative;
    margin-top: -2%;
}

.box-solution__image{
    float:right;
    max-width: 500px;
}

.exercise-solution{
    margin-top: 5%;
    margin-bottom: 15%;
}

.solution-text{
    color: rgb(147, 98, 151);
    padding-right: 0.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* icons */

.exercises-calculator-icon{
    width: auto;
    height: 30px;
    display: flex;
    position: absolute;
}


.exercises-calculator-body:hover::after{
    content: "This exercise requires a graphing calculator.";
    width: 13%;
    margin-left: -12%;
}

.exercises-difficult-icon{
    width: auto;
    height: 30px;
    display: flex;
    position: absolute;
}


.exercises-difficult-body:hover::after{
    content: "This exercise is difficult and may apply concepts from previous sections.";
    width: 15%;
    margin-left: -15%;
}

.exercises-calculator-body::after, .exercises-difficult-body::after{
    content: attr(data-hover-text);
    opacity: 0;
    transition: opacity 0.4s;
    transition-delay: 0.7s;
}

.exercises-calculator-body:hover::after, .exercises-difficult-body:hover::after{
    opacity: 1;
    color: rgb(216, 210, 210);
    padding: .5% .5% .5% .5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-variant: small-caps;
    position: absolute;
    margin-top: 2%;
    border-radius: 15px;
    border: 3px solid plum;
    background-color: rgb(68, 61, 61);
    z-index: 1;
}

@media screen and (max-width: 900px) {

    main figure{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    main img{
        width: 100%;
    }
}

@media screen and (max-width: 1207px) {
    .problems-grid td {
        display: block;
        text-align: left;
    }
    .problems-grid td:before {
        content: attr(data-th);
        display: inline-block;
        width: 100%;
    }
}