body{
    margin: 0;
    padding: 0;
}

.background-text{ /* background body */
<<<<<<< HEAD
    margin-left: 17%;
=======
    /* margin-left: 17%; */
>>>>>>> 5fc3516 (related rates done; display modifications)
    margin-right: 17%;
    margin-top: 3%;
    color: white;
    font-size: 1.5rem;
    line-height: 2.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


