/* fonts */

@font-face { font-family: Oswald; src: url('fonts/Oswald-VariableFont_wght.ttf'); } 
@font-face { font-family: CMU; src: url('fonts/cmu.serif-roman.ttf'); } 
@font-face { font-family: myFont; src: url('fonts/Myfont-Regular.ttf'); } 

/* site layout */

*{
    margin: 0;
    padding: 0
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(53, 46, 46);
    /* background-color: rgb(49, 44, 44); */
    opacity: 1;
    margin-bottom: 0%;
}

main p{
    text-indent: 5vmin;
    margin-top: 2%;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

h4{
    font-variant: small-caps;
    margin-bottom: -4%;
    font-size: 25px;
    margin-bottom: 2%;
    color: rgb(83, 198, 198);
    font-family: Geneva, Tahoma, sans-serif;
}

.no-par-indent p{ /* use <section> tag so that p's aren't indented */
    text-indent: 0; 
    margin-top: 0;
}

.hanging-par-indent p{ /* use <section> tag so that p's have HANGING indent */
    padding-left: 5vmin;
    text-indent: -5vmin;
}

.section-links{ /* sections to list links in table-like layout */
    padding-left: 5vmin;
    text-indent: -5vmin;
    font-size: 22px;
    margin-top: 0%;
    margin-bottom: 5%;
}

.section-links a{
    font-family: 'Oswald';
}

.section-links{
    display: flex;
    flex-direction: row;
}

.section-links div{
    flex: 1;
}

.link-space{  /* space after an <a> tag */
    margin-right: 1%;
}

footer{
    margin-top: 5%;
    background-color: rgb(24, 22, 22);
}

main{
    margin-bottom: 7%;
}

h1, main, .footer-body, .tab div, .footer-disclaimer{
    width: 970px;
    /* width: 54vw; */
    margin-left: 19%;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-family: 'CMU'; */
    /* font-weight: 599; */
    color: white;
}

main{ /* background body */
    font-size: 20px;
    line-height: 2.3;
}

h1{ /* section title */
    font-size: 180%;
    margin-top: 0%;
    margin-bottom: 2%;
    padding-top: 3%;
    font-weight: bold;
    line-height: 1.2;
    font-family: 'Oswald'; 
    font-weight:500;
}

main figure, aside{
    margin-left: -480px;
    left: 480px;
    height: auto;
    float: right;
    position: relative;
}

main figure::before{
    display: block;
    background: rgb(110, 80, 80);
    font-size: 90%;
    color: white;
    text-align: center;
    margin-bottom: 0;
    font-style: normal;
}

main figure::after{
    font-size: 18px;
    color: gray;
    font-style: oblique;
    letter-spacing: normal;
}

main img, aside{
    float: right;
    position: relative
}

main figure, main img, main figure video, aside{
    width: 400px;
    /* width: 30vw; */
}

aside{
    text-align: left;
    padding: 1em 1em 1em 1em;
}

aside p{
    text-indent: 15%;
}

.figure-wide{
    width: 90%;
    padding-left: 15%;
    padding-top: 4%;
    /* margin-left: auto;
    margin-right: auto; */
    float: none;
}

.figure-wide img{
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.figure-center-one{
    width: 70%;
    padding-left: 28%;
    float: none;
    position: relative;
    right: 25%;
}

.figure-center-one img{
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.figure-center{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 7%;
    margin-right: 27%;
    margin-top: 5%;
}

.figure-center figure{
    margin-left: 2%;
    margin-right: 2%;
    position: initial;
}

.figure-center figure img{
    position: initial;
    /* margin-left: initial; */
}

@media screen and (max-width: 800px) {
    .figure-center{
        flex-direction: column;
        margin-left: 0%;
        margin-right: 0%;
    }

    .table-vertical-adjacent{
        flex-direction: column;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .table-vertical{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }


    /* .figure-center figure{
        width: 100%;
    } */

    /* .figure-center figure image{
        width: 100%;
    } */
}

.warning{
    color: rgb(212, 75, 75);
    font-style: italic;
}

.good{
    color: rgb(62, 156, 62);
    font-style: italic;
}

code{
    background-color: rgb(39, 40, 34);
    color:burlywood;
}

.p-no-indent{
    text-indent: 0%;
}

aside::before{
    font-variant: small-caps;
    /* text-decoration: underline; */
    width: 100%;
    margin-right: 0.3em;
}

aside::before, figure::before, .text-caution, .text-tip, .text-remark, .text-recall{
    font-family: Geneva, Tahoma, sans-serif;
}

.text-caution, .text-tip, .text-remark, .text-recall{
    margin-right: 0.3em;
}

.box-caution::before, .text-caution{
    color: rgb(212, 75, 75);
}

.box-tip::before, .text-tip{
    color: rgb(222, 165, 42);
}

.box-remark::before, .text-remark{
    color: rgb(42, 129, 222);
}

.box-recall::before, .text-recall{
    color: rgb(124, 87, 150);
}

.box-caution::before{
    content: 'CAUTION  ';
}

.box-tip::before{
    content: 'TIP  ';
}

.box-remark::before{
    content: 'REMARK  ';
}

.box-recall::before{
    content: 'RECALL  ';
}


main ul{
    padding-left: 3%;
}

main li{
    padding-left: 1.5%;
}

.hr-problem{
    margin-top: 2em;
    margin-bottom: 2em;
}

a{
    color: plum; 
    text-decoration: none;
}

hr{
    height: 5px;
    background-color: gray;
    border: 0;
}

@media screen {
    .header-print{
        display: none;
    }
}

@media print {
    header-print{
        display: block;
        font-family: 'Times New Roman', Times, serif;
        position: fixed;
    }
    hr {
        border-top: solid 2px black !important;
    }
}

mjx-container[jax="SVG"] > svg a[href] {
    fill: plum;
    stroke: plum;
}

.pdf-panel button{
    font-size: 100%;
    font-family: Geneva, Tahoma, sans-serif;
    color: plum;
    background-color: rgb(53, 46, 46);
    border: none;
}

.pdf-panel{
    display: flex;
    flex-direction: row;
    height: auto;
    flex-basis: 20px;
}

.pdf-panel-links{
    width: 60%;
}

.pdf-panel ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.pdf-panel li{
    display: inline;
    margin-right: 5%;
    margin-left: 0;
    padding-left: 0;
}

.pdf-panel-left{
    flex: 2;
}

.pdf-panel-right{
    flex: 1.4;
    float: right;
}

.pdf-panel-right ul{
    position: relative;
    text-align: right;
}

.invisible-text{
    display: none;
    opacity: 0;
}

.link-deactivate{
    color: gray;
}

.tab{
    background-color: rgb(122, 75, 111);
    padding: 2% 0% 2% 0%;
    font-size: 150%;
    display: flex;
}

.tab a {
    color: white;
}

.tab div{
    display: flex;
}

.logo-header{
    flex: 2.72;
    margin: 0% 5% 0% 0%;
    padding-left: 0%;
    text-align: left;
}

.header-items{
    flex: 4.5;
    list-style-type:none;
    display: flex;
    justify-content: center;    
    margin: 2px;
    padding: 1px;
    text-align: center;
}

.nav-item{
    flex: 1;
    width: 100%;
    text-align: right;
}

.nav-item a{
    margin: 0% 1.8% 0% 1.8%;
}

.tab ul{
    display: flex;
    width: 1200px;
    list-style-type: none;
    overflow: show;
    margin-bottom: 0%;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
}

.external-link{
    /* word-break: break-all; */
}

.table-list{  /* table for listing facts — similar to columns side by side. no borders.*/
    table-layout: fixed;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.table-list td{ 
    border: none;
    text-align: left;
    padding: 1% 0% 1% 0%;
}


@media screen and (max-width: 1207px) {
    .table-list{
        width: unset;
        margin-left: unset;
    }

    .table-list td{
        display: block;
        text-align: left;
    }

    .table-list tbody td:before {
        content: attr(data-th);
        display: inline-block;
        width: 100%;
    }
}

table.center {
    margin-left: auto; 
    margin-right: auto;
    width: "100%";
}

th{
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.table-function-label{
    border-right: 3px solid white;
    background-color: rgb(63, 62, 62);
}

.table-vertical{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    border-bottom: 2px solid gray;
    width: 60%;
}

.table-vertical td{
    text-align: left;
    padding-left: 2%;
}

.table-vertical .label-cell{
    border-bottom: 5px solid rgb(195, 195, 195);
    z-index: 2;
}

.table-vertical-adjacent{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.table-vertical-adjacent .table-vertical{
    width: 54%;
    /* border-right: 10px solid white; */
}

.table-vertical-adjacent .table-vertical:first-child{
    border-right: 2.8px solid rgb(195, 195, 195);
    z-index: -2;
}

.table-vertical-adjacent .table-vertical:last-child{
    border-left: 2.8px solid rgb(195, 195, 195);
    z-index: -2;
}

.table-full-width{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    table-layout: fixed;
}



.table-long-left{
    table-layout: unset;
}

.table-long-left td:nth-child(1){
    width: 78%;
}

.table-full-width td{
    text-align: left;
    padding: 2px 2% 2px 2%
}

.table-full-width thead{
    font-family: Geneva, Tahoma, sans-serif;
}

main tr{
    width: 50%;
}

.table-full-width th{
    padding: 2%;
    font-weight: normal;
    background-color: rgb(88, 82, 82);
}

.table-full-width td{
    text-align: left;
    /* padding: 2%; */
}

.table-full-width th, td{
    border: 2px solid white;
}

.table-function-label{
    border-right: 3px solid white;
}

.table-function-label, .label-cell{
    background-color: rgb(63, 62, 62);
}

.label-cell-tall{ /* TALL label cell for vertical tables — for example, display fractions */
    padding-top: 10px;
    padding-bottom: 10px;
} 

.tall-row td, .table-tall td{ /* make ENTIRE TABLE ROW tall */
    padding-top: 11px;
    padding-bottom: 11px;
}

td{
    border-top: 1px solid white;
    border-bottom: 1px solid white;;
    border-left: 1px solid white;
    border-right: 1px solid white;
    /* padding: 20px; */
    /* padding-left: 40px;
    padding-right: 40px; */
    text-align: center;
}

.table-centered{
    text-align: center;
}

.table-centered td{
    text-align: center;
}

footer h3{
    font-family: 'Oswald'; 
    font-weight:500;
}

.footer-body{
    display: flex;
    font-family: 'Oswald'; 
    font-weight:350;
    font-size: 12px;
    height: auto;
    padding-bottom: 5%;
    margin-bottom: -10%;
}

.footer-logo-text{
    padding-bottom: 10%;
}

.footer-nav-column{
    margin-top: 5%;
    font-size: 25px;
    flex: 2;
}

.footer-nav-column ul{
    list-style-type:none;
    line-height: 150%;
    padding-right: 10%;
}

.footer-nav-column ul a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer-nav-column h3{
    font-size: 95%;
    text-decoration: underline;
    margin-bottom: 5%;
}

.footer-image-icon{
    width: 55%;
    display: block;
    max-width: 150px;
}

.venmo-icon{
    position: relative;
    right: 3.6%;
    bottom: 2%;
}

.footer-disclaimer{
    margin-top: 15%;
}

.ap-notice{
    padding: 0% 0% 2% 0%;
    font-size: 90%;
    font-style: italic;
}

.nav-column-1{
    margin-left: 25%;
}

ol{
    margin-left: 1.7em;
}

ol li{
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
}

.time{ /* text for time (like 2 PM) */
    font-variant: small-caps;
}

.list-alpha, .list-num, .list-roman, .list-roman-caps, .list-mcq {
    counter-reset: list;
}

.list-alpha  li, .list-num > li, .list-roman > li, .list-roman-caps > li, .list-mcq > li {
    list-style: none;
}

.example-problem > .list-alpha  li, .list-num > li, .list-roman > li {
    list-style: none;
    margin-bottom: 2%;
}

.list-mcq > li{
    margin-top: 1%;
    margin-bottom: 3%;
}

.list-alpha > li:before {
    content: "(" counter(list, lower-alpha) ") ";
    counter-increment: list;
}

.list-num > li:before {
    content: counter(list, decimal) ". ";
    counter-increment: list;
    font-weight: bold;
}

.list-roman > li:before {
    content: counter(list, lower-roman) ". ";
    counter-increment: list;
}

.list-roman-caps > li:before {
    content: counter(list, upper-roman) ". ";
    counter-increment: list;
}

.list-mcq > li:before {
    content: "(" counter(list, upper-alpha) ")";
    counter-increment: list;
}

.list-alpha > li:before, .list-num > li:before, .list-roman > li:before, .list-roman-caps > li:before, .list-mcq > li:before{
    position: absolute;
    left: -1.7em;
}

.list-num > li > span, .list-alpha > li > span, .list-roman > li > span, .list-roman-caps > li > span, .list-mcq > li > span{
    margin-left: 20px;
}

.list-num > li > .label-emph, .list-alpha > li > .label-emph, .list-roman > li > .label-emph, .list-roman-caps > li > .label-emph, .list-mcq > li > .label-emph{
    margin-left: 0px;
}

.list-num > li > .emph, .list-alpha > li > .emph, .list-roman > li > .emph, .list-roman-caps > li > .emph, .list-mcq > li > .emph{
    margin-left: 0px;
}

.list-num > li > .warning, .list-alpha > li > .warning, .list-roman > li > .warning, .list-roman-caps > li > .warning, .list-mcq > li > .warning{
    margin-left: 0px;
}

.logo-image{
    max-width: 120px;
    margin: 0.6% 0% 1% 3%;
    position: fixed;
    display: block;
    z-index: 3
}

.logo-image:hover{
    background-color: rgb(86, 80, 72);
    transition-delay: 0.15s;
}

.white-space::before{
    content: '&nbsp;';
    font-size: 13.5vh;
    visibility: hidden;
}

.white-space-small::before{
    content: '&nbsp;';
    font-size: 7.5vh;
    visibility: hidden;
}

.white-space-medium::before{
    content: '&nbsp;';
    font-size: 12vh;
    visibility: hidden;
}

.label-emph{  /*used for text like "*Case 1*. f is decreasing . . ."*/
    font-style: italic;
    text-indent: 0%;
    margin-right: 0.8%;
    color: rgb(123, 156, 173);
}

.label-emph::after{
    content: '.'
}


.true-or-false{
    
}

.true-or-false::before{
    content: 'True or False?';
    font-family: Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    margin-right: 1%;
    /* font-style: italic; */
    color: rgb(123, 156, 173);
}

.box-title, .steps-title, .example-title, .section-summary::before{
    text-align: center;
    padding-bottom: 0;
    margin-top: 8%;    
    padding: 0.7rem 0.4rem 0.4rem 0.4rem;
    font-size: 120%;
    line-height: 1.5;
}

.box-title, .steps-title, .example-title, .section-summary::before, .solution-button{
    font-family: Geneva, Tahoma, sans-serif;
}

.box{ /* for theorems and facts */
    text-align: left;
    line-height: 2.5;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    padding-top: 2%;
    border: 0.4rem solid rgb(147, 98, 151);
}

.box-title{
    background-color: rgb(147, 98, 151);
}

.box .table-full-width, .steps .table-full-width{
    width: 107%;
    margin-left: -3.5%;
}

.section-summary .table-full-width{
    width: 98%;
}

.steps{ /* box for steps */
    text-align: left;
    line-height: 2.5;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    padding-top: 2%;
    border: 0.4rem solid rgb(63, 124, 73);
}

.steps-title{
    background-color: rgb(63, 124, 73);
}

/* 
@media screen and (max-width: 1400px) {
    h1, main, .footer-body, .tab div, .footer-disclaimer{
        margin-left: 10%;
        width: 1050px;
    }
    
    main figure, main img, main figure video{
        width: 350px
    }


    main figure{
        left: 380px;
    }

    .logo-image{
        position: static;
        margin-left: 3%;
        left: 0;
        right: 0;
        display: block;
    }
} */

@media screen and (max-width: 1570px) {
    h1, main, .footer-body, .tab div, .footer-disclaimer{
        margin-left: 15%;
        width: 54vw;
    }
    
    main, footer{
        font-size: 17px;
    }

    h1{
        font-size: 25px;
    }
    h4{
        font-size: 18px;
    }

    main figure, main img, main figure video, aside{
        width: 23vw
    }


    main figure, aside{
        left: 30vw;
        margin-left: -28vw;
    }

    /* .logo-image{
        position: static;
        margin-left: 3%;
        left: 0;
        right: 0;
        display: block;
    } */

    .figure-wide{
        width: 90%;
        position: relative;
        padding-left: 25%;
    }

    .figure-wide img{
        width: 100%;
        float: none;
    }
}

@media screen and (max-width: 1300px){
    h1, main, .footer-body, .tab div, .footer-disclaimer{
        width: 600px;
        margin-left: 19%;
        margin-right: auto;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: white;
    }

    main{ /* background body */
        font-size: 16px;
    }
    
    .table-full-width, .figure-wide{
        width: 100%;
    }

    .logo-image{
        position: static;
        margin-left: 3%;
        left: 0;
        right: 0;
        display: block;
    }
}

@media screen and (max-width:1000px){
    .header-image{
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width:1200px){
    aside{
        width: 100%;
        margin-left: 0;
        left: 0; 
        display: block;
        z-index: 2;
        background-color: rgb(53, 46, 46);
        padding-top: 3%; 
        margin-top: 5%;
        border: 0.4rem solid rgb(92, 88, 88);
    }
}

/* mobile layout */

@media screen and (max-width: 800px) {
    h1, main, .footer-body, .tab div, .footer-disclaimer{
        width: 600px;
        margin-left: auto;
    }
    
    main figure, aside, .figure-center figure{
        width: 55%;
        margin-left: 25%;
        margin-right: 25%;
        left: 0; 
        display: block;
        padding-top: 4%;
        margin-top: 1%;
        margin-bottom: 4%;
    }

    .figure-wide{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0%;
    }

    main img, main figure video, aside, .figure-wide img{
        width: 100%;
        display: block;
    }

    aside{
        display: block;
        width: 100%;
        left: 0%;
        position: relative;
        margin: 3% 0% 3% 0%;
        /* margin-bottom: 40%; */
    }

    aside::before{
        display: block;
        width: 100%;
        left: 0%;
        margin-top: 1%;
        position: relative;
    }

    .header-image{
        display: none;
        visibility: hidden;
    }
    
    .footer-nav-column{
        font-size: 15px;
    }


}
