* {
    margin: 0;
    padding: 0;
}

@font-face { font-family: Oswald; src: url('fonts/Oswald-VariableFont_wght.ttf'); } 

h1, main, .footer-body, .tab div, .footer-disclaimer{
    /* width: 1150px; */
    margin-left: auto;
    margin-right: auto;
    color: white;
}

h1, main{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-link{
    position: relative;
    text-indent: -2.5em;
    right: -2.5em
}

.background-text{ /* background body */
    font-size: 1.5rem;
    line-height: 2.5;
}

h1{ /* section title */
    font-size: 200%;
    margin-bottom: 2%;
    font-weight: bold;
}

.section-unit{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-bottom: 2%;
}

.sections{
    flex: 1.5;
    margin-right: 4%;
}

.resources{
    flex: 1;
}

.header-image{
    float: right;
    width: 100%;
    max-width: 350px;
    max-height: auto;
    margin: 0% 1% 2% 2%;
    align-self: center;
}

.section-unit ul{
    margin-left: 0%;
    padding-left: 0%;
}

.section-unit li{
    list-style-type:none;
    margin-left: 0%;
    padding-left: 0%;
    font-family: 'Oswald';
    font-weight: 380;
    font-size: 22px;
}

h1, h3{
    font-family: 'Oswald'; 
    font-weight: 500;
}

h3{
    font-size: 25px;
}

h3 a{
    margin-left: 5px;
}

@media screen and (max-width: 1720px) {
    h1, main, .footer-body, .tab div, .footer-disclaimer{
        margin-left: auto;
        width: 70vw;
    }
}